# Ignore everything
*
# Whitelist anything that's a directory
!*/

# ignore certain directory
sandbox/
__pycache__/
.vscode/
.venv/

# data/
cache/
.ipynb_checkpoints/

# And all the file types I'm interested in.
!.gitignore
!*.py
!*.cpp
!*.sql
!*.sample
!*.h
!*.sh
!*.md
!*.ini
!*.ipynb
!*.html
!*.conf
!*.service
!*.yml